.addImg{
  width: 50px;
  float: right;
  margin-right: 13%
}
.container{
  margin:1%;
}
.card{
  margin: 1%;
}
.flex{
  display: flex;
  gap: 14px;
  flex-direction: row;
  padding:1%;
  justify-content: flex-end;
}
.update{
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: rgb(78, 81, 233);
  margin-top: 2%;
}
.link{
  color: rgb(78,81,233);
  text-align: right;
  text-decoration: none;
  margin-right:3%;
}

.form{
  width: 80%;
 top:50%;
 left:50%;
 transform: translate(10%,2%);
}
.cardText{
height:75px;
overflow: hidden;
}
.update{
  margin-left: 2%;
}
.footer{
  display: flex;
  flex-direction: column;
  margin-top: 14%;
  
}
.footerText{
  text-align: center;
  font-size: 14px;
  margin:5px;
}
.footerlink{
  text-decoration: none;
  color:black;
  margin-left: 2px;
}